h1 {
    color: white;
    font-size: 40px;
    /*font-weight: bold; */
    font-weight: 500;
    text-align:left; 
    background-color: #0054a5ff;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    }
h2 {
    text-decoration: underline;
    color: #4697e1ff;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration:none ;
    color: white;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.blue{
    background-color: #013571ff ;
    color : white;
    margin-top: -27px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
p{
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
li{
    font-family: 'Source Sans Pro', sans-serif;
}
.bold{
    font-weight: bold;

}
.titre{
    display:flex;
}
.large{
    width: 680px;
}
main{
    width: 1000px;
    margin:auto;
    }
td{
 padding-left: 10px;
 font-family: 'Source Sans Pro', sans-serif;
}
.pro
{
    padding-top: 5px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
  .titre::after {
    content: "Ui and Ux";
    background: url(../IMG/gradient-ui-ux-background_23-2149052117.jpg);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat:no-repeat;
    background-position:center;
    background-size:1000px 800px;
    position: fixed;
  }